<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
  
  <servlet>
    <servlet-name>dataVancouverService</servlet-name>
    <servlet-class>cs310.creativeteamname.server.DataVancouverServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>dataVancouverService</servlet-name>
    <url-pattern>/parkfinder/data</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>commentService</servlet-name>
    <servlet-class>cs310.creativeteamname.server.CommentServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>commentService</servlet-name>
    <url-pattern>/parkfinder/comment</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>facebookService</servlet-name>
    <servlet-class>cs310.creativeteamname.server.FacebookServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>facebookService</servlet-name>
    <url-pattern>/parkfinder/facebook</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>locationService</servlet-name>
    <servlet-class>cs310.creativeteamname.server.LocationServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>locationService</servlet-name>
    <url-pattern>/parkfinder/location</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>loginService</servlet-name>
    <servlet-class>cs310.creativeteamname.server.LoginServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>loginService</servlet-name>
    <url-pattern>/parkfinder/login</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ratingService</servlet-name>
    <servlet-class>cs310.creativeteamname.server.RatingServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>ratingService</servlet-name>
    <url-pattern>/parkfinder/rating</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>ParkFinder.html</welcome-file>
  </welcome-file-list>   
  
</web-app>
